// Colors
$color-primary: #046380;
$color-primary-dark: #008596;
$color-white: #ffffff;
$color-black: #1b1c1e;
$color-black-dark: #000000;
$color-check: #008000;
$color-canceled: #ff0000;
$color-gray: #e4e4e7;
$color-table-header: #64748b;
$color-table-border: #ddd;
$color-red: #eb4335;
$color-green: #064e3b;
$color-green-back: #ecfdf5;
$color-yello: #ff6e06;
$color-yello-back: #fce5ba;
$color-gray-light: #f2f2f2;
$color-gray-lighther: #f7f8f9;
// $color-secondary-dark:

// $color-secondary-dark:

// $color-grey-light:

// $color-gray-dark:
