table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5rem;

  & thead tr th {
    color: $color-table-header;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  & tbody tr td {
    font-size: 1.2rem;
    font-weight: 400;
  }

  & tbody tr:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
th,
td {
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid $color-table-border;
}
th {
  background-color: $color-white;
  font-weight: bold;
}
.checkbox {
  width: 20px;
}
.sn {
  width: 30px;
}
.date {
  width: 60px;
}
.name {
  width: 120px;
}
.brand {
  width: 120px;
}
.job {
  width: 200px;
}
.status {
  width: 80px;
}
.job-type {
  width: 80px;
}

.reg-date {
  width: 80px;
}

.customername,
.emailuser,
.assignto,
.mechanic-incharge {
  width: 150px;
}

.last-amount,
.appointment-date {
  width: 150px;
}
.action {
  width: 80px;
}

.text-red {
  color: $color-red;
}

.completed {
  color: $color-green;
  background-color: $color-green-back;
  padding: 0.4rem !important;
  border-radius: 4px !important;
}

.processing {
  color: $color-yello;
  background-color: $color-yello-back;
  padding: 0.4rem !important;
  border-radius: 4px !important;
}

.icon-size {
  font-size: 1.5rem;
  max-width: 6rem;
}

.delete-data,
.select-invoice {
  cursor: pointer;
}

.three-dots {
  text-align: center;
  margin-left: 1.5rem;
  cursor: pointer;
}

.mechanic-select,
.select-admin-job {
  cursor: pointer;
}

.sub-total {
  font-weight: 600 !important;
  &-total {
    font-weight: 700 !important;
    color: $color-primary;
    &:hover {
      color: $color-white !important;
    }
  }
}

.not-100 {
  max-width: 500px !important;
  & .tb tr:hover {
    background-color: transparent !important;
    color: inherit;
  }

  & .tb td {
    border-bottom: none !important;
    font-size: 1.8rem !important;
    font-weight: 500 !important;
  }
}

.time-picker {
  padding: 0.5rem !important;
}
